<div class="item">
    <div>Avatar URL</div>
    <div>
        <input 
            type="url"
            name="avatar_url"
            placeholder="http://url"
            value="{{ instructor.avatar_url }}"
        >
    </div>
</div>

<div class="item">
    <div>Instructor</div>
    <div>
        <input 
            type="text"
            name="name"
            placeholder="Instructor Name"
            value="{{ instructor.name }}"
        >
    </div>
</div>

<div class="item">
    <div>Birthday</div>
    <div>
        <input 
            type="date" 
            name="birthday"
            value="{{ instructor.birthday }}"
        >
    </div>
</div>

<div class="item">
    <div>Gender</div>
    <div>
        <span>
            <input 
            type="radio" 
            name="gender" 
            value="M" 
            {% if instructor.gender == 'M' %} 
            checked 
            {% endif %}
            > 
            Male
        </span>
        <span>
            <input 
            type="radio" 
            name="gender" 
            value="F"
            {% if instructor.gender == 'F' %} 
            checked 
            {% endif %}
            > 
            Female
        </span>
    </div>
</div>

<div class="item">
    <div>Specialities</div> 
    <div>
        <input 
            type="text" 
            name="services"
            placeholder="{{ instructor.services }}"
        >
    </div>
</div>

<button type="submit">Save</button>